@model IEnumerable<StudentList>
@if (User.IsInRole("系主任"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin:0;padding:0;font-family:微软雅黑;" class="text-center">即将毕业学生列表</h3>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>学院</th>
                            <th>专业</th>
                            <th>注册时间</th>
                            <th>题目</th>
                            <th>指导导师</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="subject-list">
                        @foreach (var x in Model)
                {
                            <tr id="table-tr-@x.Id">
                                <td>@x.Id</td>
                                <td>@x.Name</td>
                                <td>@x.StudentNumber</td>
                                <td>@x.College</td>
                                <td>@x.Major</td>
                                <td>@x.CreateTime</td>
                                <td>@x.Subject</td>
                                <td>@x.Teacher</td>
                                <td><a asp-action="StudentDetails" asp-controller="Admin" asp-route-id="@x.Id" class="btn btn-primary btn-sm">查看文件</a>&nbsp;<a href="javascript:graduatejug(@x.Id)" class="btn btn-success btn-sm">完成</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (User.IsInRole("指导老师"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin:0;padding:0;font-family:微软雅黑;" class="text-center">即将完成毕业设计学生列表</h3>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>学院</th>
                            <th>专业</th>
                            <th>注册时间</th>
                            <th>题目</th>
                            <th>指导导师</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="subject-list">
                        @foreach (var x in Model)
                {
                            <tr id="table-tr-@x.Id">
                                <td>@x.Id</td>
                                <td>@x.Name</td>
                                <td>@x.StudentNumber</td>
                                <td>@x.College</td>
                                <td>@x.Major</td>
                                <td>@x.CreateTime</td>
                                <td id="td-@x.Id">@x.Subject</td>
                                <td>@x.Teacher</td>
                                <td><a asp-action="StudentDetails" asp-controller="Admin" asp-route-id="@x.Id">查看文件</a><a href="javascript:graduatejug(@x.Id)" class="btn btn-success btn-sm">完成设计</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    function graduatejug(id) {
        var jug = confirm("确定将该学生设置为设计完成吗？");
        jug && $.post("/Admin/GraduateJug", { id: id }, function (data) {
            if (data == "success") {
                alert("操作成功...");
                $("#table-tr-" + id).remove();
            }
            else if (data == "error") {
                alert("删除失败...");
            }
            else if (data == "score") {
                alert("该学生还没有进行毕业设计评分，请评分后再设置状态为设计完成状态...");
            }
            else {
                alert("系统异常...");
            }

        });

    }
</script>